@import"_variables";

/* Media Queries */

@media  (max-width: 575px) {
    /*css index*/
/*header*/
.envio_sincargo{
        background-color: $color-fondo;
        color: white;
        text-align: center;
    }
.logo{
    width: 50px;
}
.icono_whatsaap{
    display: inline-block;
    position: fixed;
    top: 1rem;

}
.nav_nombredefantasia{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nav_titulo{
    margin-left: 1rem;
}
.fondo_menu{
    background-color: white !important;
}

/*Contenido principal*/
.seccion_destacados{
    margin-top: 2rem;
}
.sub_Contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo_destacados{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    background-color: $color-fondo;
    color: white;
    padding: 1rem;
    margin-bottom: 1.3rem;
}
.beneficios{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.beneficios_esquema{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}
.beneficios_alineacion{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.article_transformate{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border: 1px solid $color-fondo;
    border-radius: 1rem;
    padding: 1rem;  
}

/*css footer*/
.footer_contenedor{
    background-color: $color-fondo;
    border: 1px solid white;
    border-radius: 1rem;
    color: white;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li{
        padding: 0.2rem;
        margin-top: 0.5rem;
        list-style-type: none;
        text-align: center;
        background-color: white;

                &:hover{}

        a{
            text-decoration: none;
            color: black;
        }
    }
}
.horarios{
    text-align: center;
}

.redesypagos{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.redes_iconos{
    text-align: center;
}
.footercopyright{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* paginas*/
.imagen_nosotros{
    width: 10rem;
}
.margenes_paginas{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

}


/* Pantallas de 576px de ancho o m치s */

@media (min-width: 576px) {}


/* Pantallas de 768px de ancho o m치s */

@media (min-width: 768px) {}


/* Pantallas de 992px de ancho o m치s */

@media (min-width: 992px) {}


/* Pantallas de 1200px de ancho o m치s */

@media (min-width: 1200px) {

   /*css index*/
/* header*/
header{
    div{
        h2{
            font-family: $familyfont-titulos;
        }
    }
}
.envio_sincargo{
        background-color:$color-fondo;
        color: white;
        text-align: center;
    }
.logo{
        width: 50px;
    }
.icono_whatsaap{
        display: inline-block;
        position: fixed;
        left: 97%;
        top: 1%;
    
    }
.nav_nombredefantasia{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
.nav_titulo{
        margin-left: 1rem;
    }
.fondo_menu{
        background-color: white !important;
    }
/*Contenido Principal*/
.seccion_destacados{
        margin-top: 2rem;
    }
.sub_Contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }
.sub_Contenedor:hover{
        transform: scale(1.1);
    }
.titulo_destacados{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5rem;
        margin-left: 5rem;
        border: 1px solid white;
        border-radius: 1rem;
        background-color: $color-fondo;
        color: white;
        padding: 1rem;
        margin-bottom: 1.3rem;
    }
.beneficios{
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
.beneficios_esquema{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
    }
.beneficios_alineacion{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
.article_transformate{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5rem;
        margin-left: 5rem;
        border: 1px solid $color-fondo;
        border-radius: 1rem;
        padding: 1rem;
        
    }
/* footer*/
.footer_contenedor{
    margin-top: 2rem;
        background-color: $color-fondo;
        border: 1px solid white;
        border-radius: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        color: white     
}

footer{
    ul{
      display: flex;
      flex-direction: row;
      padding: 0.5rem;

        li{
          list-style-type: none;
          margin-left: 0.5rem;
          padding: 0.2rem;

             &:hover{transform: scale(1.4);}

        a{  
             text-decoration: none;
             color: white;
             padding: 0.2rem;
             transition: all 1s;
        }
    }
 }
}

    .horarios{
        margin-left: 1rem;
    }
    .redesypagos{
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .redes_iconos{
        text-align: center;
    }
    .footercopyright{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

/* paginas*/
    .imagen_nosotros{
        width: 15rem;
    }
    .margenes_paginas{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    
}